@import "variables";

.mini-player {
    color: $primary;
    z-index: 1;
    display: flex;
    align-items: center;

    &-track-info-wrapper {
        border-right: 1px solid rgba(225,225,225,0.11);
        margin-right: 23px;
        padding: 5px 30px 5px 0;

        .track-info {
            display: flex;
            align-items: center;
            cursor: pointer;
            opacity: 1;

            .thumb {
                width: 45px;
                height: 45px;
                margin-right: 10px;
                background-color: #D3D6DA;
                border-radius: 2px;
            }

            .title {
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
            }

            .artist {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 12px;
                color: rgba(255,225,225,0.7);
            }
        }
    }

    &-controls-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;

        .button-wrapper {
            %defaultState {
                display: none;
                opacity: 0;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .prev {
                transform-origin: center;
                transform: rotate(180deg);
            }

            .switch-group {
                width: 30px;
                margin-right: 15px;
                display: flex;
                justify-content: center;
                height: 31px;

                .play,
                .pause {
                    position: absolute;
                }
            }

            .pause {
                @extend %defaultState;
            }

            .loop {
                height: 32px;
                width: 32px;

                position: relative;

                svg {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                }

                .single,
                .random {
                    @extend %defaultState;
                }
            }

            .icon-button {
                font-size: 24px;
                color: $primary;
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
